

.main-content{overflow: hidden;}


.main-content .head{width: 100%;height: 12vw;position: relative;line-height: 12vw;font-size: 110%;color: #000;text-align: center;background-color: #fff;border-bottom: 1px solid #ddd;}
.main-content .head .left{position: absolute;left: 4%;top: 4vw;width: 3.2vw ;height: 5vw;z-index: 1000;background: url("../images/back-icon.png") no-repeat;background-size: 100% 100%;float: left;}
a { color: #000;  text-decoration: none;}


.main-content .left-navigation{ float:left;  background-color:#bbb; width:20vw; padding-top:5vh;
	/* Firefox */
	height: -moz-calc(100vh - 12vw);
	/* WebKit */
	height: -webkit-calc(100vh - 12vw);
	/* Opera */
	height: -o-calc(100vh - 12vw);
	/* Standard */
	height: calc(100vh - 12vw);
}

.main-content .left-navigation a.navigation-item {  width:100%; height: 16vw; line-height:16vw; text-align: center; font-size:85%; display: inline-block;}
.main-content .left-navigation .navigation-item-current { border-left:2px solid #f63; background: #fff;color:#f63; }

.main-content .service-list{ float:left; width:71vw; overflow-y: scroll;overflow-x: hidden;
	/* Firefox */
	height: -moz-calc(100vh - 12vw);
	/* WebKit */
	height: -webkit-calc(100vh - 12vw);
	/* Opera */
	height: -o-calc(100vh - 12vw);
	/* Standard */
	height: calc(100vh - 12vw);
}

.main-content .service-list .service-item { }
.main-content .service-list .service-item .item-title { height:8vw; font-size:90%; margin:3vw 0 1vw 5vw; border-bottom:1px solid #ddd; padding-bottom: 2vw; }
.main-content .service-list .service-item .sub-item { height:16vw; width:100%;}
.main-content .service-list .service-item .sub-item-icon  {margin:3vw 0.5vw 1vw 5vw; width :9vw; height:9vw;  float: left ;}
.main-content .service-list .service-item .sub-item-line1 {margin:3vw 0vw 0vw 2vw; height :6vw; width :65%; float: left ;  }  
.main-content .service-list .service-item .sub-item-line1 .line1-icon {  width :6vw; height:6vw; float:left; position:relative; top:-2vw; }  
.main-content .service-list .service-item .sub-item-line1 .line1-txt { float:left; font-size:85%; font-weight:500;}  
.main-content .service-list .service-item .sub-item-line2 {margin:0vw 0vw 0vw 2vw; height :6vw; width :74%; float: left ; color:#888; font-size:75%;}  


.main-content .service-list .bottom-space { 
	/* Firefox */
	height: -moz-calc(100vh - 40vw);
	/* WebKit */
	height: -webkit-calc(100vh - 40vw);
	/* Opera */
	height: -o-calc(100vh - 40vw);
	/* Standard */
	height: calc(100vh - 40vw);
}


#icon-1-1 { background: url("../images/richang.png") no-repeat;background-size: 100% 100%; }
#line1-icon-1-1 { background: url("../images/hot.png") no-repeat;background-size: 100% 100%; }

#icon-1-2 { background: url("../images/xinju.png") no-repeat;background-size: 100% 100%; }
#line1-icon-1-2 { background: url("../images/new.png") no-repeat;background-size: 100% 100%; }

#icon-1-3 { background: url("../images/caboli.png") no-repeat;background-size: 100% 100%; }
#line1-icon-1-3 { background: url("../images/hot.png") no-repeat;background-size: 100% 100%; }

#icon-2-1 { background: url("../images/yiwu.png") no-repeat;background-size: 100% 100%; }
#line1-icon-2-1 { background: url("../images/new.png") no-repeat;background-size: 100% 100%; }


#icon-2-2 { background: url("../images/kongtiao.png") no-repeat;background-size: 100% 100%; }
#line1-icon-2-2 { background: url("../images/hot.png") no-repeat;background-size: 100% 100%; }

#icon-2-3 { background: url("../images/youyan.png") no-repeat;background-size: 100% 100%; }
#icon-3-1 { background: url("../images/baomu.png") no-repeat;background-size: 100% 100%; }
#icon-3-2 { background: url("../images/yuesao.png") no-repeat;background-size: 100% 100%; }
#icon-3-3 { background: url("../images/yuying.png") no-repeat;background-size: 100% 100%; }
#icon-3-4 { background: url("../images/hugong.png") no-repeat;background-size: 100% 100%; }
#icon-3-5 { background: url("../images/zhengli.png") no-repeat;background-size: 100% 100%; }
#line1-icon-3-4 { background: url("../images/new.png") no-repeat;background-size: 100% 100%; }


#icon-4-1 { background: url("../images/yizhan.png") no-repeat;background-size: 100% 100%; }
#icon-5-1 { background: url("../images/banjia.png") no-repeat;background-size: 100% 100%; }


#icon-6-1 { background: url("../images/guandao.png") no-repeat;background-size: 100% 100%; }
#icon-6-2 { background: url("../images/jiadian.png") no-repeat;background-size: 100% 100%; }
#icon-6-3 { background: url("../images/kaisuo.png") no-repeat;background-size: 100% 100%; }

#icon-7-1 { background: url("../images/huacao.png") no-repeat;background-size: 100% 100%; }0