@charset "utf-8";
body,div,p,ul,li{
    margin:0;
    list-style: none;
    padding:0;
    font-family:"Microsoft YaHei",微软雅黑,"Microsoft JhengHei",华文细黑,STHeiti,MingLiu;
    font-size:15px;
}

html,body,form,input,select,textarea,div,p,h1,h2,h3,h4,h5,h6,p,ul,ol,li,form,img,dl,dt,dd,table,th,td,blockquote,fieldset,div,strong,label,em{margin:0; padding:0; }
ul,li,ol,dl,dt,dd{
  list-style:none; 
}
img{
  border-style: none;
  border:none;
}

a,a:visited{text-decoration: none;outline:none;border:none;}
*{
    margin: 0;padding: 0;
      -webkit-box-sizing: border-box;
         -moz-box-sizing: border-box;
              box-sizing: border-box;
}

input,button{
  outline: none;border: none;
}


.mt1{margin-top:1em;}
.mt2{margin-top:2em;}
.mt3{margin-top:3em;}
.mt4{margin-top:4em;}
.mt5{margin-top:5em;}
.ml1{margin-left:1em;}
.ml2{margin-left:2em;}
.ml3{margin-left:3em;}
.ml4{margin-left:4em;}
.ml5{margin-left:5em;}
.mr1{margin-right:1em;}
.mr2{margin-right:2em;}
.mr3{margin-right:3em;}
.mr4{margin-right:4em;}
.mr5{margin-right:5em;}
.pt1{padding-top:1em;}
.pt2{padding-top:2em;}
.pt3{padding-top:3em;}
.pt4{padding-top:4em;}
.pt5{padding-top:5em;}
.pb1{padding-bottom:1em;}
.pb2{padding-bottom:2em;}
.pb3{padding-bottom:3em;}
.pb4{padding-bottom:4em;}
.pb5{padding-bottom:5em;}

.visible_not{
  visibility:hidden;
}



