@charset "UTF-8";
body{background-color: #eee;}
.introduce{overflow: hidden;margin-bottom: 2em;}

.mt-1{margin-top:-0.5em;}

.clearfix{clear: both;}
.introduce .head{width: 100%;height: 2em;position: relative;line-height: 3em;padding: .5em 0;font-size: 4vw;color: #000;text-align: center;background-color: #fff;border-bottom: 1px solid #ddd;}
.introduce .head .left{position: absolute;left: 4%;top: 1em;width: .8em;height: 1.2em;z-index: 1000;background: url("../images/back-icon.png") no-repeat;background-size: 100% 100%;float: left;}
.introduce .head .center{margin: 0 auto;width: 40%;height: 1.8em;border: 1px solid #f63;border-radius: .2em;color: #f63;}
.introduce .head .center .item{display: block;color: #f63;width: 50%;float: left;height: 100%;line-height: 2em;overflow: hidden;}
.introduce .head .center .cur{background-color: #f63;color: #fff;}

.introduce .banner{background: url("../images/banner.png") no-repeat;background-size: 100% 100%;width: 100%;height: 9em;}
.introduce .banner2wrapper{background-color: #fff; width: 100%;height: 60vw; }
.introduce .banner2{background: url("../images/banner2.png") no-repeat;background-size: 100% 100%;width: 60vw;height: 60vw;margin:0 auto;}

.introduce .margin-top{margin-top: .6em;}
.introduce .area-title{height: 3em;line-height: 3em; width: 100%;background-color: #fff;text-align: center;}
.introduce .area-detail{height: 2em;line-height: 2em;width: 100%;background-color: #fff;text-align: center; font-size:70% ;position: relative;top:-10px;padding-bottom:20px }
.introduce .txt { width: 92%;padding: 5px 4% 5px;border-bottom: 0px solid #eee;color: #333;font-size: 3.4vw;background-color: #fff;line-height:160%;}
.introduce .txt2 { width: 92%;padding: 5px 4% 5px;border-bottom: 0px solid #eee;color: #333;font-size: 3.7vw;background-color: #fff;line-height:160%;}

.introduce span{color: #ff6633;}
.introduce span.class-red{color: #ff3333;}

.introduce .divider {height: 1px; width: 4%; background-color: #fff;}

.introduce .title{overflow: hidden;height: 3em;line-height: 3em;width: 100%;padding: 0 4%;border-bottom: 0px solid #eee;color: #333;font-size: 3.8vw;background-color: #fff;}
.introduce .standards{ padding:20px 0 20px 0; background-color: #fff;}
.introduce .standards .time{background-color: #eee;width: 90%;margin: 0 auto 1em;line-height: 3em;overflow: hidden;text-align: center;font-size: 4vw;color: #333;}



.introduce .assure{overflow: hidden;background-color: #fff;}
.introduce .assure .assure-item{width: 23%;margin: 1em .5%;float: left;}
.introduce .assure .first{margin-left: 3%;}
.introduce .assure .assure-item .icon1{width: 2.8em;height: 2.8em;background: url("https://api.nbaljz.com/Public/Api2/images/glass/sure1.png") no-repeat;background-size: 100% 100%;margin: 1em auto 0;}
.introduce .assure .assure-item .icon2{width: 2.8em;height: 2.8em;background: url("https://api.nbaljz.com/Public/Api2/images/glass/sure2.png") no-repeat;background-size: 100% 100%;margin: 1em auto 0;}
.introduce .assure .assure-item .icon3{width: 2.8em;height: 2.8em;background: url("https://api.nbaljz.com/Public/Api2/images/glass/sure3.png") no-repeat;background-size: 100% 100%;margin: 1em auto 0;}
.introduce .assure .assure-item .icon4{width: 2.8em;height: 2.8em;background: url("https://api.nbaljz.com/Public/Api2/images/glass/sure4.png") no-repeat;background-size: 100% 100%;margin: 1em auto 0;}
.introduce .assure .assure-item .name{color: #666;font-size: 3.8vw;text-align: center;line-height: 2em;}

.introduce .more-info{background-color: #fff;width: 100%;overflow: hidden;padding: 1em 0 2em;}
.introduce .more-info .center{overflow: hidden;width: 90%;margin: 0 auto;%;background-color: #eee;padding: 1em 0;border-radius: .4em;}
.introduce .more-info .name{font-size: 5vw;color: #222;text-align: center;margin: .5em 0;}
.introduce .more-info .text{padding: 0 5%;}
.introduce .more-info .text a{color: #1038cb;}
.introduce .more-info .text .text-item{overflow: hidden;}
.introduce .more-info .text .text-item .left{float: left;width: 3%;line-height: 1.4em;color: #666;text-align: justify;font-size: 3.5vw;}
.introduce .more-info .text .text-item .right{float: left;width: 97%;line-height: 1.4em;color: #666;text-align: justify;font-size: 3.5vw;}
.introduce .hint-title{height: 3em;line-height: 3em; width: 100%;text-align: center;margin-top: -1em}

.introduce .intro{overflow: hidden;background-color: #fff;padding: 1em 5%;color: #666;line-height: 1.4em;font-size: 3.8vw;}
.introduce .appoint{height: 2.8em;line-height: 2.8em;font-size: 4.8vw;text-align: center;color: #fff;background-color: #fff;position: fixed;bottom: 0;width: 100%;border-top: 1px solid #eee;}
.introduce .appoint .left{width: 50%;float: left;color: #f63;font-size: 3.8vw;text-align: left;text-indent: 1em;}
.introduce .appoint .left span.gold-txt{font-size: 7vw;font-weight: bold;}
.introduce .appoint .center{width: 13%;float: right;text-align: center;line-height: 1em;color: #666;font-size: 3vw;display: block;border-left: 1px solid #eee;height: 100%;}
.introduce .appoint .center .icon{width: 1.5em;height: 1.2em;background: url("https://api.nbaljz.com/Public/Api2/images/glass/icon.png") no-repeat;background-size: 100% 100%;margin: .5em auto .2em;}
.introduce .appoint .appoint-btn{background-color: #F06520;display: block;width: 28%;float: right;color: #fff;font-size: 4.5vw;letter-spacing: 2px;}
span.black-txt {color:black;}
